:root {
    --background-color:
}

body {
    background-color: #9ccbb8;
}

#title {
    text-align: center;
}

header {
    background-color: #588970;
    padding: 40px;
    opacity: 65%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal; 
    font-size: 65px;
    color: white;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

nav {
    display: flex; 
    flex-wrap: wrap;
    background-color: #8ce3af;
    flex-direction: row;
}

nav li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 24px;
    color: white;
    display: inline;
    padding: 14px 20px;
}

/* .header-image-menu {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: right;
} */
/*end of header section*/

* {
    box-sizing: border-box;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.a-about-me {
    flex: 1;
    background-color:#fff;
    padding: 25px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    color: white;
    font-size: 18px;
}

.mary-webby-photo{
    padding: 25px;
    border: 5px darkolivegreen;
    border-color: darkolivegreen;
}

.box-styling {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 300px;
    border: 2px darkcyan;
}

.t-about-me {
    flex: 3;
    background-color: #588970;
    padding: 70px;
    box-sizing: border-box;
}

.resume {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.a-resume {
    flex: 1;
    background-color:#fff;
    padding: 25px;
    box-sizing: border-box;
}

.t-resume {
    flex: 3;
    background-color: #588970;
    padding: 70px;
    box-sizing: border-box;
}

h4 { 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.a-work {
    flex: 1;
    background-color:#fff;
    padding: 25px;
    box-sizing: border-box;
}

.t-work {
    flex: 3;
    background-color: #588970;
}

.work-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

#prework-port {
    display: flex;
    background-size: contain;
    background-image: url("file:///Users/MaisieWebby/Desktop/pre-work.png");
    background-position: center;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.a-contact {
    flex: 1;
    background-color:#fff;
    padding: 25px;
    box-sizing: border-box;
}

.t-contact {
    flex: 3;
    background-color: #588970;
    padding: 70px;
    box-sizing: border-box;
}

p {
    display: flex;
    flex-wrap: wrap;
    font-size: 40 px;
    color: #588970;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    color: #588970;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h6 {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    color: #588970;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.pre-work-img {
    max-height: 200px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

footer {
    display: flex;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background-color:#386956;
    padding: 40px;
}

